@import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Montserrat&display=swap');

:root {
    /* Colors */
    --purewhite: #ffffff;
  
    --col-button-shadow: #292929;
    --col-buttons: #8e8e8e;
  
    --text-color: #e3e3e3;
  
    /* Font sizes */  
    --txt-fontsize: 22px;              
    --btn-fontsize: min(1.2rem,15vw);
    --digits-fontsize: 1.6rem;
    --results-fontsize: 1.3rem;
  
    /* Font family */
    --main-font: 'Sarabun', sans-serif;
  
    /*Margins and paddings*/
    --main-padding: 10px;
    --ftr-gap:  20px;
    --radius: 10px;
  
    /*Buttons*/
    --btn-padding: 20px min(20px,2vw);
  
    /* Maximum column width */
    --col-width: 400px;
  
    /* Animations on hover */
    --offset-translate-hover: -3px;
    --scale-translate-hover: 1.05;
    --time-transition-hover: .2s;
  }
  
  
  html {
    background-color: var(--purewhite);
    color:  var(--text-color);
    font-family: var(--main-font), monospace;
    font-weight: 400;
    line-height: 1em;
    font-size: var(--txt-fontsize);
  }
  
  * { 
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    padding:  0;
    margin: 0;
  }
  
  body{
    margin:  0 auto;
    height: 100vh; /*it is assumed the same for <html>*/
    width: 100%; /* or max-width -- this avoids horizontal scroll bars */
  }




  /* || Footer */
footer {
    --light-grey: rgb(210, 210, 210);
    --black: rgb(0, 0, 0);
    --ftr-fontsize: 12px;
    --ftr-font: 'Montserrat';
    --ftr-padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
}

footer i {
    font-size: 1.3em;
}