@import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Montserrat&family=Rosarivo&display=swap');

:root {
    /* Colors */
    --col-white: #eff4f7;
    --col-grey: #cbdcd5;
    --col-black: #474545;

    --col-accent-dark: #05a089;
    --col-accent-light: #36dba3;

    --col-base-dark: #284a6b;
    --col-base-light: #4a719f;

    --col-bg: #173f57;
    /*#173f57 = rgb(23,63,87)*/
    --col-bg-alpha: rgba(23, 63, 87, 0.5);
    /*bg color with alpha*/

    --col-txt: var(--col-white);

    --col-form-txt: var(--col-bg);
    --col-form-lbl: var(--col-accent-dark);
    --col-form-bg: var(--col-grey);

    --col-btn: var(--col-accent-dark);
    --col-btn-hover: var(--col-grey);
    --col-btn-txt: var(--col-white);
    --col-btn-txt-hover: var(--col-bg);

    --col-em: var(--col-accent-light);
    --col-link: var(--col-accent-light);
    --col-link-hover: var(--col-accent-dark);

    --col-warning: #c2614d;
    /*#bb8963;*/
    --col-shadow: var(--col-black);

    /* Font sizes */
    --txt-fontsize: 21px;
    --smaller-txt-fontsize: 0.85rem;
    --h1-fontsize: 2rem;
    --h2-fontsize: 1.1rem;
    --lbl-fontsize: 0.75rem;
    --btn-fontsize: 1.05rem;
    --cite-fontsize: 0.5rem;
    --txt-lineheight: 1.2;
    --h1-lineheight: auto;

    /* Logo size */
    --logo-size: calc(2.5*var(--h1-fontsize));

    /* Font family */
    --main-font: 'Sarabun', sans-serif;
    --h1-font: 'Rosarivo', sans-serif;

    /*Margins and paddings*/
    --h1-margin-top: 15vh;
    --h1-padding: 60px 20px;
    --h1-gap: 10px;
    --cite-padding: 8px;
    --main-lr-padding: max(40px, 5vw);
    --description-ub-padding: min(60px, 5vh);
    --description-gap: min(30px, 3vh);
    --form-ub-padding: min(40px, 4.5vh);
    --submit-ub-padding: min(35px, 4vh);
    --submit-gap: min(40px, 2vh);

    --control-col-gap: 20px;
    --control-row-gap: 60px;
    --control-lbl-gap: 2px;

    --control-padding-left: 0.3rem;
    --control-border-left: 5px;
    --control-lbl-padding-lr: 0.25rem;

    /* Inputs */
    --bottom-border-size: 1px;

    /*Buttons*/
    --radius: 10px;
    --btn-padding: min(10px, 2vw) 20px;
    --btn-right-margin: 30px;

    /* Maximum column width */
    --col-width: min(700px, 100%);

    /* Animations on hover / focus / ...*/
    --offset-translate-hover: -3px;
    --scale-translate-hover: 1.05;
    --time-transition-hover: 0.2s;
    --scale-translate-a-hover: 1.2;

    --hover-a-padding: 3px 9px;

    --focus-outline-size: 2px;
    --focus-outline-offset: 3px;
    --focus-outline-col: var(--col-accent-light);

    --valid-sym: '✔'; /*✓*/ 
    --invalid-sym: '✘'; /*✗*/
    --unmatched-sym: '‼'; /*⚠‼!*/
    --required-sym: '✱'; /*✱**/
    --valid-txt: 'valid'; 
    --invalid-txt: 'invalid';
    --unmatched-txt: 'unmatched';
    --required-txt: 'required';
}


html {
    background-color: var(--col-bg);
    color: var(--col-txt);
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: var(--txt-fontsize);
    line-height: var(--txt-lineheight);
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
    /*it is assumed the same for <html>*/
    width: 100%;
    /* or max-width -- this avoids horizontal scroll bars */
}

/*****************************************************/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.header-and-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

/* || Header */
header {
    flex: 1;
    background-image: url('../img/johny-goerend-x3WQMj5QkEE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
}

header>.title {
    flex: 1;
}

header h1 {
    font-family: var(--h1-font), sans-serif;
    font-size: var(--h1-fontsize);
    background-color: var(--col-bg-alpha);
    margin-top: calc(var(--h1-margin-top)/2);
    padding: var(--h1-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--h1-gap);
}

header h1::before {
    font-size: var(--h1-fontsize);
    background-image: url('../img/aurora-borealis-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--logo-size);
    height: var(--logo-size);
    content: "";
}

header>.cite {
    font-size: var(--cite-fontsize);
    text-align: left;
    padding: var(--cite-padding);
    text-shadow: 1px 1px 1px var(--col-shadow);
}

header>.cite a,
header>.cite a:link,
header>.cite a:visited,
header>.cite a:hover {
    font-variant: small-caps;
    color: var(--col-txt);
    letter-spacing: 0.1em;
}

/* || Main */

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.description {
    flex: 1.5;
    padding: var(--description-ub-padding);
    display: flex;
    flex-direction: column;
    gap: var(--description-gap);
    justify-content: flex-end;
    text-align: center;
    text-wrap: balance;
}

.form-compile {
    background-color: var(--col-form-bg);
    color: var(--col-form-txt);
}

.form-controls {
    display: flex;
    flex-direction: column;
    gap: var(--control-col-gap);
    padding-top: var(--form-ub-padding);
    padding-bottom: var(--form-ub-padding);
}

.form-submit {
    flex: 1;
    padding: var(--submit-ub-padding);
    display: flex;
    flex-direction: column;
    gap: var(--submit-gap);
    align-self: center;
}

.description,
.form-controls,
.form-submit {
    max-width: 100%;
    padding-left: var(--main-lr-padding);
    padding-right: var(--main-lr-padding);
}

/* || Form */

.form-controls h2 {
    font-size: var(--h2-fontsize);
}

.form-control-row {
    display: flex;
    flex-direction: column;
    gap: var(--control-col-gap);
    /* mobile first: use the same gap used in the columns*/
    justify-content: space-between;
}

.form-submit .login {
    font-size: var(--smaller-txt-fontsize);
}

/* || Input */

.form-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--control-lbl-gap);
}

.form-control label {
    font-size: var(--lbl-fontsize);
    color: var(--col-form-lbl);
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.1em;
    align-self: stretch;
    order: 1;
}

.form-control input {
    appearance: none;
    font-size: var(--smaller-txt-fontsize);
    line-height: 1.2;
    background-color: inherit;
    border: none;
    border-bottom: var(--bottom-border-size) solid var(--col-bg-alpha);
    order: 2;
}

/* Password rules */
div.pw-rules {
    font-style: italic;
    color: var(--col-bg-alpha);
    font-size: 0.5rem;
    line-height: 1;
    order: 3;
}

div.pw-rules .pw-rule{
    font-weight: bold;
}

div.pw-rules .pw-rule.invalid{
    color: var(--col-warning);
}


/* || Buttons */

.form-submit button {
    color: var(--col-btn-txt);
    background-color: var(--col-btn);
    font-size: var(--btn-fontsize);
    padding: var(--btn-padding);
    margin-right: 0;
    border: none;
    border-radius: var(--radius);
    appearance: off;
}

/* || Links */

a,
a:link,
a:visited {
    text-decoration: none;
    font-weight: bold;
}

main a {
    margin-left: 0.5em;
}

main a,
main a:link,
main a:visited {
    color: var(--col-link);
}

/* || Emphasis */
em {
    color: var(--col-em);
}

/* || Responsiveness */

@media only screen and (min-width: 650px) {
    header h1 {
        flex-direction: row;
        text-align: left;
        margin-top: var(--h1-margin-top);
    }

    .form-control-row {
        flex-direction: row;
        gap: var(--control-row-gap);
    }
}

@media only screen and (min-width: 900px) and (orientation:landscape) {
    /* body{
        overflow-x: auto;
    } */

    .header-and-main {
        flex-direction: row;
    }

    header {
        flex-basis: 0;
    }

    /* || Main */
    main {
        flex: 2;
    }

    .description,
    .form-controls,
    .form-submit {
        max-width: var(--col-width);
        padding-left: var(--main-lr-padding);
        padding-right: var(--main-lr-padding);
    }

    .description {
        text-align: left;
    }

    .form-submit {
        align-self: start;
    }

    .form-submit button {
        margin-right: var(--btn-right-margin);
    }
}

/* || Pseudo-classes (+ helper styles) */
.form-submit button,
main a,
.form-control,
.form-control label,
.form-control input {
    transition: all var(--time-transition-hover) ease-in-out;
}

.form-submit button,
main a,
.form-control label {
    user-select: none;
}

main a {
    display: inline-block;
    transform: scale(1);
    padding: var(--hover-a-padding);
    border-radius: var(--radius);
}

.form-control {
    padding-left: var(--control-padding-left);
    border-left: var(--control-border-left) solid var(--col-form-bg);
    position: relative;
    left: calc(0px - calc(var(--control-padding-left) + var(--control-border-left)));
}

.form-control label,
.form-control label>span {
    padding: 1px var(--control-lbl-padding-lr);
    position: relative;
}

.form-control label {
    padding-left: var(--control-padding-left);
    left: calc(0px - var(--control-padding-left));
    display: flex;
    justify-content: space-between;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.form-control label>span {
    border-radius: var(--radius);
    left: calc(0px - var(--control-lbl-padding-lr));
}



@media (hover: hover) and (pointer: fine) {

    /*mouse*/
    .form-submit button:hover {
        cursor: pointer;
        background-color: var(--col-btn-hover);
        color: var(--col-btn-txt-hover);
        transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
        font-weight: bold;
    }

    main a:hover {
        transform: scale(var(--scale-translate-a-hover));
        background-color: var(--col-btn-hover);
        color: var(--col-btn-txt-hover);
    }

    .form-control:hover:not(:focus-within) label>span {
        background-color: var(--col-btn-txt-hover);
        color: var(--col-txt);
    }

}

.form-submit button:focus-visible,
main a:focus-visible {
    outline: var(--focus-outline-size) solid var(--focus-outline-col);
    outline-offset: var(--focus-outline-offset);
}

.form-control:focus-within {
    border-left-color: var(--focus-outline-col);
}

.form-control:focus-within label {
    background-color: var(--col-form-lbl);
    color: var(--col-txt);
}

.form-control input:focus-visible {
    outline: none;
    border: none;
    border-bottom: var(--bottom-border-size) solid var(--col-bg-alpha);
}

@media (hover: hover) and (pointer: fine) {

    /*mouse*/
    .form-submit button:active {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }

    main a:active {
        transform: scale(1);
    }
}

@media (pointer: coarse) {

    /*finger on a touchscreen*/
    .form-submit button:active,
    .form-submit button:active:focus {
        background-color: var(--col-btn-hover);
        color: var(--col-btn-txt-hover);
        transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
        font-weight: bold;
    }

    main a:active,
    main a:active:focus {
        transform: scale(var(--scale-translate-a-hover));
        background-color: var(--col-btn-hover);
        color: var(--col-btn-txt-hover);
    }
}

.form-control input::placeholder{
    color: var(--col-bg-alpha);
    font-style: italic;
    font-size: 0.7em;
}

/******/

.form-control:hover input:required:not(:valid) + label::after,
.form-control:hover input:invalid + label::after,
.form-control input:required:not(:valid):focus + label::after,
.form-control input:invalid:focus + label::after{
    font-variant: normal;
    font-weight: normal;
    font-style: italic;
    letter-spacing: normal;
    word-spacing: 0.1em;
}

/*required*/
.form-control input:required + label::after{
    content: var(--required-sym); 
}

.form-control:hover input:required:not(:valid) + label::after,
.form-control input:required:not(:valid):focus + label::after
{
    content: var(--required-txt);
}

.form-control input:required:not(:valid):not(:focus) + label::after
{
    color: var(--col-form-txt);
}

.form-control input:required:not(:valid):focus + label
{
    background-color: var(--col-form-txt);
}

/*invalid*/
.form-control input:invalid:not(:placeholder-shown) + label::after{
    content: var(--invalid-sym); 
}

.form-control:hover input:invalid:not(:placeholder-shown) + label::after,
.form-control input:invalid:not(:placeholder-shown):focus + label::after
{
     content: var(--invalid-txt);
}

.form-control input:invalid:not(:placeholder-shown):not(:focus) + label::after
{
    color: var(--col-warning);
}

.form-control input:invalid:not(:placeholder-shown):focus + label
{
    background-color: var(--col-warning);
}

/*warning: modify the symbol from the unmatched state (see .unmatched)*/
.form-control input.unmatched:not(:placeholder-shown) + label::after{
    content: var(--unmatched-sym); 
}

.form-control:hover input.unmatched:not(:placeholder-shown) + label::after,
.form-control input.unmatched:not(:placeholder-shown):focus + label::after
{
    content: var(--unmatched-txt);
}

/*valid: overrides previous styles*/
.form-control input:valid:not(:placeholder-shown) + label::after{ 
    content: var(--valid-sym);
}

.form-control input:valid:not(:focus) + label::after
{
    color: var(--col-form-lbl) !important;
}

/* || Footer */
footer {
    --light-grey: rgb(210, 210, 210);
    --black: rgb(0, 0, 0);
    --ftr-fontsize: 12px;
    --ftr-font: 'Montserrat';
    --ftr-padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
}

footer i {
    font-size: 1.3em;
}